body {
  margin: 0;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.header {
  background-color: cornsilk;
  flex: 1;
  text-align: center;
}
.gameBoard-container {
  background-color: cornflowerblue;
  flex: 10;
}
.gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 10px;
}
.cell{
  display: flex;
  position: relative;
  background-color: aliceblue;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.cell:active{
  top: 5px;;
}
